<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jennifer Gomez-Leon</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="stylesheets/home.css">



</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="#scrollspyBrand">Jennifer Gomez-Leon</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item" id="active">
                        <a class="nav-link active" aria-current="page" href="#About">About
                            Me</a>
                    </li>
                    <li class="nav-item" id="inactive">
                        <a class="nav-link" href="#Projects">Projects</a>
                    </li>
                    <li class="nav-item" id="inactive">
                        <a class="nav-link" href="resume/Resume.pdf">Resume</a>
                    </li>
                    <li class="nav-item" id="inactive">
                        <a class="nav-link" href="#Contact">Contact Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="scrollspyBrand">
        <div id="img">
            <div id="name">
                <div>
                    <p class="name">Jennifer</p>
                    <p class="name">Gomez-Leon</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row" id="firstRow">
            <div class="col-3"></div>
            <div class="col-6" id="About">

                <h2 id="about">About Me</h2>
                <div class="group">
                    <p class="text1">Hello! My name is <b>Jennifer Gomez-Leon</b> and I'm a self-taught
                        junior frontend engineer. I
                        have
                        completed and earned a certificate for an <b>Udemy</b> bootcamp, as well as many Python
                        certificates on
                        <b>Coursera</b>.
                        I'm a very eager learner and would love the opportunity to both sharpen existing skills and
                        gain
                        an
                        understanding of new abilities in
                        a
                        team based environment.
                    </p>
                    <p class="text2">
                        I have a diverse set of skills, ranging from <b>HTML</b>, <b>CSS</b> and <b>Javascript</b>,
                        in addition to implementation of <b>Express.js</b>, <b>Mongo</b> databases and more.
                        Currently,
                        I'm
                        working on learning
                        JS
                        frameworks,
                        including Angular and a newer one, Qwik.
                    </p>
                    <p class="text3">
                        I believe I'd make a great addition to your team, because I love to focus on the
                        <b>minute
                            details</b>
                        that
                        lead to <b>finding solutions</b> for overall <b>customer satisfaction</b>.
                    </p>
                </div>

                <div class="row mt-6">
                    <h2 id="bottom">Skillsets</h2>
                    <div class="col-6">

                        <div class="progress-title">
                            HTML
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                role="progressbar" aria-label="Default striped example" style="width: 100%"
                                aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress-title">
                            CSS
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                role="progressbar" aria-label="Default striped example" style="width: 85%"
                                aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress-title">
                            SASS
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                aria-label="Default striped example" style="width: 87%" aria-valuenow="10"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress-title">
                            Javascript
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped  progress-bar-animated" role="progressbar"
                                aria-label="Default striped example" style="width: 90%" aria-valuenow="10"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="progress-title">
                            Mongo
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-info progress-bar-animated"
                                role="progressbar" aria-label="Default striped example" style="width: 80%"
                                aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress-title">
                            Express.js
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-info progress-bar-animated"
                                role="progressbar" aria-label="Default striped example" style="width: 95%"
                                aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress-title">
                            Angular
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated"
                                role="progressbar" aria-label="Default striped example" style="width: 30%"
                                aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress-title">
                            Qwik
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated"
                                role="progressbar" aria-label="Default striped example" style="width: 30%"
                                aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <h2 id="projects">Projects</h2>
                <div class="row" id="Projects">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <a href="/camp/">
                                <img src="
                        https://images.unsplash.com/photo-1510312305653-8ed496efae75?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80"
                                    class="card-img-top" alt="..." id="firstCard">
                            </a>
                            <div class="card-body">
                                <p class="card-text">A app that allows you to register a user and upload, edit and
                                    delete
                                    campsites. It also has a cluster map which is interactive and you can even leave
                                    reviews!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="
                            https://res.cloudinary.com/dpkwd6qri/image/upload/v1668530388/GB/nrd-D6Tu_L3chLE-unsplash_zx5a2f.jpg"
                                class="card-img-top grocery" alt="..." id="secondCard">
                            <div class="card-body">
                                <p class="card-text">A simple grocery store app that is still a WIP, but feel free to
                                    look around!
                                    It utilizes Bulma instead of Bootstrap and also, as always, a RESTful approach.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                </div>
            </div>
        </div>
        <footer class="bd-footer bg-light">
            <div class="row" id="Contact">
                <h3 class="col new-col">
                    <i class="bi bi-telephone">
                        <a href="tel:+14123159288" style="color: purple;">1-412-315-9288</a>
                    </i>
                </h3>
                <h3 class="col">
                    <i class="bi bi-envelope">
                        <a href="mailto: jrgomezleon@gmail.com" style="color: purple;">jrgomezleon@gmail.com</a>
                    </i>
                </h3>
                <h3 class="col">
                    <i class="bi bi-browser-chrome">
                        <a href="https://jrgomezleon.com" style="color: purple;">jrgomezleon.com</a>
                    </i>
                </h3>
                <h3 class="col">
                    <i class="bi bi-file-earmark-person">
                        <a href="resume/Resume.pdf" style="color: purple;">Resume</a>
                    </i>
                </h3>


            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
</body>

</html>